:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#roots{
  padding: 0px;
  place-items: center;
  position: relative;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bg-red {
  background-color: #DC3545;
}
.bg-black {
  background-color: #332d2d;
}
.bg-blue{
  background-color: #3b71cb;
}
.bg-yellow{
  background-color: #e4a11c;
}
.bg-green{
  background-color: #14a44d;
}
.bg-gains{
  background-color: gainsboro;
}
.w-border{
  border: 1px solid rgb(255, 181, 181);
}
.register-container{
  margin-right: 400px;;
}
.sedg{
  font-family: Sedgwick Ave;
}
.left{
  float: left;
}
.left-text{
  text-align: left;
}

.white-text{
  color: white;
}

.margy{
  margin: 0px 40px;
}

.link{
  text-decoration: none;
  color: white;
}

.product-card {
  margin-bottom: 40px;
  background-color: white; 
  border: 1px solid rgb(240, 240, 240); 
  border-radius: 8px; 
  overflow: hidden; 
  display: flex; 
  flex-direction: column; 
  width: 350px;
}
.product-title{
  text-decoration: none;
  height: 40px; 
  text-align: center; 
  font-size: x-large;
  color: rgb(0, 0, 0);
  transition-duration: 0.4s;
}
.product-title:hover {
  color: grey;
  transition-duration: 0.4s;
}

.gainsboro{
  background-color: gainsboro;
}
.gainsboro-light{
  background-color: rgb(240, 240, 240);
}

.m0 {
  margin: 0px;
}

.black-box {
  background-color: black;
  position:absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;

}

.space-block-for-footer{
  padding-bottom: 150px;
}


.footer-details {
  width: 400px;
  margin: auto;
}

.white {
  text-decoration: none;
  color: white;
}

.flx-r{
  display: flex;
  flex-direction: row;
}

.flx-c{
  display: flex;
  flex-direction: column;
}

.just-se{
  justify-content: space-evenly;
}
.just-ce{
  justify-content: center;
}
.just-sb{
  justify-content: space-between;
}

.flx1{
  flex: 1;
}
.flx2{
  flex: 2;
}
.flx3{
  flex: 3;
}
.flx4{
  flex: 4;
}
.flx5{
  flex: 5;
}
.flx6{
  flex: 6;
}
.flx7{
  flex: 7;
}
.x-small{
  font-size: x-small;
}
.small{
  font-size: small;
}
.medium{
  font-size: medium;
}
.large{
  font-size: large;
}
.x-large{
  font-size: x-large;
}
.xx-large{
  font-size: xx-large;
}
.xxx-large{
  font-size: 96px;
}

.center{
  display: block;
  margin:auto;
}

.center-text{
  text-align: center;
}
.right-text{
  text-align: right;
}
.right{
  float: right;
}
.padx0{
  padding-left: 0px;
  padding-right: 0px;
}
.pad0{
  padding: 0px;
}
.pad8{
  padding: 8px;
}
.pad16{
  padding: 16px;
}
.pad28{
  padding: 28px;
}
.bodee{
  background-image: url(/images/workout-app-bg2.png)
}
.fullscreen{
  background-position: bottom;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
.see-thru{
  background-color: rgba(191, 226, 255, 0.75);
}

.page-container{
  position: relative;
  min-height: 100vh;
}
.navbar{
  height: 60px;
}
.username{
  color: white;
  margin-top: 2px;
}
.nav-logo{
  width: 50px;
  vertical-align:top;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-text-logo{
  width: 100px;
  vertical-align:middle;
  margin-right: 20px;
}
.nav-btn{
  border-radius: 0px;
  background-color: transparent;
  color: white;
  transition-duration: 0.4s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 12px;
}
.nav-btn:hover{
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid white;
  transition-duration: 0.4s;
}
.nav-btn:active{
  background-color: #3f3c3c;
}

.page-contain{
  position: relative;
  min-height: 100vh;
}

#round{
  border-radius: 10px;
  border: 1px solid gainsboro;
  transition-duration: 0.4s;
}
#round:hover{
  opacity: 0.75;
  transition-duration: 0.4s;
}

#ind-round{
  border: 1px solid gainsboro;
  width: 45%;
  height: 50px;
}

.bg-color{
  background-color: beige;
}
.bg-color2{
  background-color: azure;
}
.b-border{
  border: 1px solid black;
}
.g-border{
  border: 1px solid grey;
}

.bborder{
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

.price-box{
  background-color: black;
  border-radius: 12px;
  width: 91%;
  margin: auto;
}

.ind-card{
  width: 60%;

  border: 2px solid grey;
  border-radius: 8px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
}

.ind-img{
  height: 400px;
  display: block;
  margin: auto;
}
.cart-img{
  height: 200px;
  display: block;
  margin: auto;
}

.row{
  width: 100%;
}

.signup-box{
  background-color: white;
  width: 700px;
  height: 400px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 16px;
}

.signin-box{
  background-color: white;
  width: 700px;
  height: 280px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 16px;
}

#center{
  display: block;
  margin: auto;
}
#register-btn{
  display: block;
  margin: auto;
  width: 40%;
}

.form-box{
  width: 80%;
  margin: auto;
}

.sign-in{
  display: block;
  margin: auto;
}

#un, #pw, #cpw{
  width: 93%;
}

#logout{
  color: rgb(195, 195, 195);
  transition-duration: 0.4s;
}
#logout:hover{
  color: grey;
  transition-duration: 0.4s;
}

.pg-no{
  margin: 0px 10px;
}

.pink{
  background-color: lightpink;
}
.blue{
  background-color: lightblue;
}
.bisque{
  background-color: bisque;
}
.soft-gray{
  background-color: rgb(240, 240, 240);
}
.softer-gray{
  background-color: rgb(245, 245, 245);
}

.cart-card{
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  transition-duration: 0.4s;
}
.card-card:hover{
  background-color: red;
  transition-duration: 0.4s;
}

#increment, #decrement{
  width: 40px;
}
.num-items{
  display: inline-block;
  background-color: gainsboro;
  width: 40px;
  height: 30px;
  margin: 0px;
}
.border-top{
  border-top: 1px solid gainsboro;
}

.img-column{
  height: 250px;
}
.info-col{
  height: 30px; 
  text-align: center;
}
.m-1{
  margin: 5px;
}
.m-2{
  margin: 10px;
}
.mb-0{
  margin-bottom: 0px;
}
.mb-1{
  margin-bottom: 5px;
}
.mb-2{
  margin-bottom: 10px;
}
.mb-3{
  margin-bottom: 15px;
}
.mb-4{
  margin-bottom: 25px;
}
.mb-5{
  margin-bottom: 50px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-1{
  margin-top: 5px;
}
.mt-1h{
  margin-top: 8px;
}
.mt-2{
  margin-top: 10px;
}
.mt-3{
  margin-top: 15px;
}
.mt-4{
  margin-top: 25px;
}
.mt-5{
  margin-top: 50px;
}
.mt-3h{
  margin-top: 20px;
}
.my-0{
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-1{
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-1-2{
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-2{
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-3{
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-4{
  margin-top: 25px;
  margin-bottom: 25px;
}
.my-5{
  margin-top: 50px;
  margin-bottom: 50px;
}
.mx-1{
  margin-right: 5px;
  margin-left: 5px;
}
.mx-1-2{
  margin-right: 8px;
  margin-left: 8px;
}
.mx-2{
  margin-right: 10px;
  margin-left: 10px;
}
.mx-3{
  margin-right: 15px;
  margin-left: 15px;
}
.mx-4{
  margin-right: 20px;
  margin-left: 20px;
}
.mx-5{
  margin-right: 25px;
  margin-left: 25px;
}
.last-col{
  margin-bottom: 20px; 
  height: 40px; 
  text-align: center;
}
.product-img{
  max-height: 250px;
  display:block;
  margin:auto;
  cursor: pointer;
  transition-duration: 0.4s;
}
.product-img:hover{
  opacity: 0.75;
  transition-duration: 0.4s;
}

.reg-div{
  height: 590px;
  overflow: hidden;
  border-radius: 8px;
  width: 600px;
  margin: auto;
}
.log-div{
  height: 395px;
  overflow: hidden;
  border-radius: 8px;
  width: 600px;
  margin: auto;
}
.top-box{
  background-color: #332d2d;
  /* background-color: #656be4; */
}
.form-input{
  border: 2px solid rgb(210, 210, 210);
  font-size: medium;
  padding-left: 6px;
  border-radius: 8px;
  height: 30px;
  transition-duration: 0.4s;
}
.form-input:hover{
  box-shadow: 0 0 8px rgba(140, 197, 243, 0.5);
  transition-duration: 0.2s;
}
.form-input2{
  border: none;
  border-bottom: 2px solid rgb(158, 158, 158);
  font-size: medium;
  padding-left: 6px;
  height: 30px;
  transition-duration: 0.4s;
  background-color: transparent;
}
.form-input2:hover{
  box-shadow: 0 4px 8px rgba(140, 197, 243, 0.5);
  border-bottom: 2px solid rgb(108, 108, 108);
  transition-duration: 0.2s;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.radio{
  display: inline-block;
  width: 15px;
  height: 15px;
}
.darkblue-btn{
  background-color: #1f2486;
  width: 350px;
  color: white;
  transition-duration: 0.4s;
}
.darkblue-btn:hover{
  cursor: pointer;
  background-color: rgb(31, 29, 92);
  transition-duration: 0.4s;
}
.dark-btn{
  background-color: #332d2d;
  width: 350px;
  color: white;
  transition-duration: 0.4s;
}
.dark-btn:hover{
  cursor: pointer;
  background-color: rgb(35, 35, 35);
  transition-duration: 0.4s;
}
.yell-btn{
  background-color: #FFC107;
  transition-duration: 0.4s;
  max-height: 50px;
  min-width: 140px;
}
.yell-btn:hover{
  background-color: #d6a40d;
  transition-duration: 0.4s;
  max-height: 50px;
  min-width: 140px;
}
.red-btn{
  background-color: #DC3545;
  color: white;
  transition-duration: 0.4s;
  max-height: 50px;
  min-width: 140px;
}
.red-btn:hover{
  cursor: pointer;
  background-color: #a52b37;
  transition-duration: 0.4s;
}
.green-btn{
  background-color: #14a44d;
  width: 350px;
  color: #ffffff;
  transition-duration: 0.4s;
}
.green-btn:hover{
  cursor: pointer;
  background-color: #1a7b41;
  transition-duration: 0.4s;
}
.white-btn{
  background-color: #ffffff;
  width: 350px;
  color: #332d2d;
  transition-duration: 0.4s;
}
.white-btn:hover{
  cursor: pointer;
  background-color: rgb(229, 229, 229);
  transition-duration: 0.4s;
}
.uline{
  text-decoration: underline;
}
.opa-btn{
  transition-duration: 0.4s;
}
.opa-btn:hover{
  opacity: 0.5;
  transition-duration: 0.4s;
}
.inc-dec{
  width: 150px;
}

.ready-bg{
  background-image: url(/images/1000_F_519010267_5U8Na7rYck7DsUKi57JdHTHYJEDsPKae.jpg);
  background-size: cover;
  height: 1000px;
  background-position: fixed;
}

.black-text{
  color: rgb(76, 72, 110);
}
.text-box{
  width: 200px;
  margin: auto;
}
#show-password{
  display: inline-block;
  width: 20px;
}
#sp-label{
  display: inline-block;
  width: 200px;
}

.wo-card{
  background-color: #c6d4ff;
  width: 350px;
  height: 175px;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;

}
.ex-card{
  background-color: #eeeeee;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;

}
.ex-card:hover{
  background-color: gainsboro;
  transition-duration: 0.4s;
}
.selection-empty{
  position: absolute;
  left: 20px;
  top: 20px;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  transition-duration: 0.2s;
}
.selection-empty:hover{
  opacity: 0.75;
  transition-duration: 0.2s;
}
.selection-full{
  position: absolute;
  left: 20px;
  top: 20px;
  height: 40px;
  width: 40px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: #254ee2;
  border-radius: 20px;
  transition-duration: 0.2s;
}
.selection-full:hover{
  background-color: #1e3eaf;
  transition-duration: 0.2s;
}
.selection-count{
  text-align: center;
  font-size: x-large;
  color: white;
  position: absolute;
  left: 21px;
  top: 22px;
  height: 40px;
  width: 40px;
}
.selection-count:hover + .selection-full{
  background-color: red;
}
.muscle-group-icon{
  width: 110px;
}
.diff-icon{
  height: 100px;
}
.equip-icon{
  height: 100px;
}
.wo-muscle-group-icon{
  width: 55px;
}
.wo-diff-icon{
  height: 100px;
}
.wo-equip-icon{
  height: 100px;
}
.flx-wrap{
  flex-wrap: wrap;
}
.pt-1{
  padding-top: 4px;
}
.pt-2{
  padding-top: 8px;
}
.one{
  background-color: #332d2d;
}
.two{
  
}
.three{
  
}
.four{
  background-color: rgb(197, 197, 197);
}
.wo-four{
  background-color: rgb(133, 150, 211);
}
.five{
  background-color: lightsalmon;
}
.grid-2c{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wide100{
  width: 100%;
}
.border-top-b{
  border-top: 1px solid black;
}
.border-bottom-b{
  border-bottom: 1px solid black;
}
.card-att{
  font-size: small;
  opacity: 0.5;
  font-weight: 600;
}
.card-empty{
  display: inline-block;
  width: 40px;
}
.d-none{
  display: none;
}
.o-none{
  opacity: 0;
}
.instructions{
  background-color: #332d2d;
  position: absolute;
  width: 100%;
  height: 93%;
  overflow: hidden;
}
.wo-instructions{
  background-color: #332d2d;
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: scroll;
}
.bold{
  font-weight: 700;
}
.search-bar{
  width: 100%;
  height: 35px;
  background-color: #332d2d;
}
.pad2{
  padding: 2px;
}
.sub-btn{
  background-color: transparent;
  color: white;
}
.ex-box{
  height: 173px;
  width: 346px;
  border: 2px dashed white;
  background-color: rgba(201, 210, 247, 0.5);
  border-radius: 14px;
  transition-duration: 0.4s;
}
.ex-box:hover{
  opacity: 0.4;
  transition-duration: 0.4s;
}
.v-helper{
  display: inline-block;
  height: 95%;
  vertical-align: middle;
}
.v-helped{
  display: inline-block;
  vertical-align: middle;
}
.close-btn{
  position: absolute;
  top: 20px;
  right: 15px;
  height: 40px;
  width: 40px;
  background-color: #ca3a3a;
  color: white;
  border-radius: 20px;
}
.close-cross{
  position: absolute;
  height: 20px;
  width: 20px;
  top: 29.5px;
  right: 25px;
  color: white;
  transition-duration: 0.1s;
}
.close-cross:hover{
  height: 22px;
  width: 22px;
  top: 29px;
  right: 24px;
  transition-duration: 0.1s;
}
.disabled {
  background-color: gainsboro;
  width: 350px;
  color: grey;
  transition-duration: 0.4s;
}
.disabled:hover {
  border: 1px solid rgba(0, 0, 0, 0);
}
.set-rep-box{
  background-color: #c6d4ff;
  width: 350px;
  height: 175px;
}

.arrow{
  width: 60px;
  cursor: pointer;
}
.arrow:hover{
  opacity: 0.75;
}
.arrow:active{
  opacity: 0.5;
}
.arrow-disabled{
  width: 40px;
  opacity: 0.1;
}
.arrow2{
  width: 40px;
  cursor: pointer;
}
.arrow2:hover{
  opacity: 0.75;
}
.arrow2:active{
  opacity: 0.5;
}
.plus{
  background-color: rgb(133, 150, 211);
  color: white;
  border-radius:8px 8px 0 0;
  cursor: pointer;
}
.plus:hover, .minus:hover{
  background-color: rgb(92, 109, 169);
  transition-duration: 0.2s;
}
.minus {
  background-color: rgb(133, 150, 211);
  color: white;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
}
.mx-n{
  margin-left: 0.5px;
  margin-right: 0.5px;
}
.rep-number{
  width: 40px;
}
.set-count, .rep-count {
  width: 110px;
}
.sr-box{
  width: 350px;
}
.intensity {
  width: 350px;
  height: 120px;
  margin-top: 40px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.intensity-disabled {
  width: 350px;
  height: 120px;
  margin-top: 40px;
  -webkit-filter: brightness(70%);
}
.intensity:hover {
  -webkit-filter: brightness(90%);
  transition-duration: 0.2s;
}
.ml-2{
  margin-left: 10px;
}
.ml-3{
  margin-left: 15px;
}
.ml-4{
  margin-left: 25px;
}
.mr-2{
  margin-right: 10px;
}
.mr-3{
  margin-right: 15px;
}
.mr-4{
  margin-right: 25px;
}
#circuit-checkbox{
  width: 15px;
}
#repeats{
  background-color: transparent;
  border: none;
  border-radius: 4px;
  width: 60px;
  font-size: medium;
  text-align: center;
  border-left: 1px solid black;
}
#muscles-dropdown, #difficulty {
  border-radius: 8px;
  
}
.inline{
  display: inline-block
}

.build-workout-box, .search-workout-box{
  background-color: #332d2d;
  width: 350px;
  height: 500px;
  border: none;
  border-radius: 16px;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}
.build-workout-box:hover, .search-workout-box:hover{
  -webkit-filter: brightness(60%);
  transition-duration: 0.4s;
}
.img-blocks, .img-mag{
  width: 200px;
  height: 200px;
  transition-duration: 0.4s;
}
.gains-text{
  color: gainsboro;
}
.build-workout-box:hover .img-blocks{
  width: 220px;
  height: 220px;
  transition-duration: 0.4s;
}
.search-workout-box:hover .img-mag{
  width: 220px;
  height: 220px;
  transition-duration: 0.4s;
}
.black-back{
  background-color: #1f1c1c;
}
.six{
  background-color: lightblue;
}
.seven{
  background-color: lightpink;
}
.eight{
  background-color: bisque;
}
.workout-card-div{
  width: 800px;
  height: 500px;
  background-color: gainsboro;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 50px;
}
.workout-card-div:hover .wc-top{
  background-color: #272323;
  transition-duration: 0.4s;
}
.wc-top{
  background-color: #332d2d;
  transition-duration: 0.4s;
}

.wct-right{
  float: right;
}
.int, .end, .circ{
  width: 200px;
  text-align: center;
}
.p0{
  padding: 0;
}
.xxx-larges{
  font-size: 82px;
}
.wc-mid{
  position: relative;
}
.wcm-muscles{
  border-bottom: 2px solid grey;
  width: 90%;
}
.wcm-back{
  position: absolute;
  background-color: gainsboro;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-duration: 0.8s;
}
.wcm-back:hover{
  opacity: 0.95;
  transition-duration: 0.8s;
}
.wcmb-ex{
  background-color: #332d2d;
  border-radius: 4px;
  height: 30px;
  width: 380px;
  color: white;
  text-align: center;
}
.wcmb-empty{
  width: 100%;
  height: 0px;
}
.pt-1{
  padding-top: 8px;
}
.wc-bot{
  position: relative;
  width: 100%;
  margin: auto;
}
.rel{
  position: relative;
}
.wcb-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(160, 160, 160);
  transition-duration: 0.8s;
  opacity: 0;
}
.wcb-back:hover{
  opacity: 0.95;
  transition-duration: 0.8s;
}
.special-size{
  font-size: 50px;
  margin: 0px;
  margin-top: 35px;
}
.gray-text{
  color: gray;
}
.just-r{
  justify-content: right;
}
.high100{
  height: 100%;
}
.wc-icon{
  height: 40px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.wc-icon:hover{
  -webkit-filter: brightness(85%);
  transition-duration: 0.2s;
}
.icon-box{
  width: 280px;
}
.px-1{
  padding-left: 5px;
  padding-right: 5px;
}
.px-2{
  padding-left: 10px;
  padding-right: 10px;
}
.star{
  height: 30px;
}
.n-text{
  font-weight: 500;
  color: rgb(10, 1, 50);
}
.n-text:hover{
  font-weight: 500;
  color: rgb(10, 1, 50);
}
.n-white-text{
  color:white;
}
.n-white-text:hover{
  color:white;
}
.wc-foot{
  margin: auto;
  margin-top: 50px;
  width: 800px;
  max-height: 800px;
  border-radius: 0 0 8px 8px;
}
.wc-info{
  margin: auto;
  width: 800px;
}
.wcf-display{
  margin: auto;
  width: 800px;
  height: 300px;
}
.info-btn{
  border-radius: 0px;
  background-color: transparent;
  transition-duration: 0.4s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 12px;
}
.info-btn:hover{
  transition-duration: 0.4s;
  border-bottom: 2px solid #332d2d;
}
.wo-title{
  width: 90%;
  border-radius: 6px;
  font-size: x-large;
  border: 1px solid gray;
  transition-duration: 0.4s;
}
.wo-title:hover{
  box-shadow: 0 0px 8px rgba(140, 197, 243, 0.5);
  transition-duration: 0.4s;
}
.wo-desc{
  width: 90%;
  height: 50px;
  border-radius: 6px;
  border: 1px solid gray;
}

.wo-dets{
  background-color: rgb(235, 97, 97);
  width: 715px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 25px;
  border-radius: 8px;
  padding-bottom: 20px;
  overflow: hidden;
}
.welcome{
  display: block;
  margin: auto;
  width: 75%;
}
.py-3{
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-4{
  padding-top: 25px;
  padding-bottom: 25px;
}
.py-5{
  padding-top: 50px;
  padding-bottom: 50px;
}
.wo-muscle-icon{
  width: 110px;
}
.silent{
  color: rgb(200, 200, 200);
}
.w-included{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 184px;
}
.faded{
  opacity: 0.2;
}
.green-text{
  color:#14a44d;
}
.link-text{
  color: rgb(65, 127, 234);
  transition-duration: 0.2s;
}
.link-text:hover{
  color: #6b8bff;
  transition-duration: 0.2s;
}
.search-wo-box{
  background-color: #332d2d;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  height: 200px;
}
.ml-5{
  margin-left: 50px;
}
.mx-6{
  margin-left: 40px;
  margin-right: 40px;
}